body{
  margin: 0;
  padding: 0;
  background-color: rgb(44, 38, 38);
}

h1{
  color:beige;
  margin-left: 30px;
}

ul{
  margin-left: 50px;
}

ul li a{
  text-decoration: none;
  color: rgb(165, 144, 25);
}

h1.errorSearch{
  color: beige;
  background: rgb(192, 18, 18);
}

form label{
  color: goldenrod;
}

form{
  margin-left: 30px;
}
input{
  margin-bottom: 5px;
}