body{
  margin: 0;
  padding: 0;
  background-color: rgb(44, 38, 38);
}

h1{
  color:beige;
  margin-left: 30px;
}

ul{
  margin-left: 50px;
}

ul li a{
  text-decoration: none;
  color: rgb(165, 144, 25);
}